<%= form_for @user do |f| %>
	<div>
		<%= f.text_field :email, placeholder: "email" %>
	</div>
	<div>
		<%= f.text_field :password, placeholder: "password" %>
	</div>
	<div>
		<%= f.text_field :password_confirmation, placeholder: "confirm password" %>
	</div>
	<div>
		<%= f.submit %>
	</div>

<% end %>